@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-dark: #1e1e1e;
  --background2: #efefef;
  --text: #444545;
  --accent: #38c0ca;
  --highlight: #fff7ad;
  --primary: #f24333;
  --muted: #999899;
}

.dark {
  --background: var(--background-dark);
  --text: #f8fafc;
  --background2: #4b4b4b;
  --accent: #34a7af;
  --highlight: #000000;
  --primary: #ff3c00;
  --muted: #777777;
}
